version: '3'
services:
    node:
        build: .
        volumes:
            - .:/usr/src/app
        ports:
            - "8080:8080"
        command: node_modules/.bin/nodemon --ignore bin --ignore src/Command --exec npm run watch -- /usr/src/app/server.js
        environment:
            APP_PORT: 8080
            APP_ENV: dev
    couchdb:
        image: klaemo/couchdb:latest
        volumes:
            - couchdb_data:/opt/couchdb/data
        ports:
            - "5984:5984"
#        environment:   Un-comment the credentials right after defining them in the Futon interface
#            COUCHDB_USER: root
#            COUCHDB_PASSWORD: root
volumes:
    couchdb_data:
