const config = {
  port: 8080,
  couchdb: {
    user: 'root',
    password: 'root',
    scheme: 'http',
    host: 'couchdb',
    port: 5984
  },
  security: {
    secret: '376RY5D+5Z687q63zjYU',
    expiration: '1h'
  }
};

export default config;
