const config = {
  port: 8080,
  couchdb: {
    user: 'root',
    password: 'root',
    scheme: 'http',
    host: 'couchdb',
    port: 5984
  },
  jwtSecret: '376RY5D+5Z687q63zjYU'
};

export default config;
